<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h4">@MudDialog.Title</MudText>
        <MudGrid>
            <MudItem xs="6">
                <div>
                    <MudText Typo="Typo.h6">Data</MudText>
                    <MudText Typo="Typo.subtitle1">@Data</MudText>
                </div>
                
            </MudItem>
            <MudItem xs="6">
                <div>
                    <MudText Typo="Typo.h6">Hora</MudText>
                    <MudText Typo="Typo.subtitle1">@Time</MudText>
                </div>
                
            </MudItem>
        </MudGrid>
    </TitleContent>

    <DialogContent>
        <MudTextField @bind-Value="Descricao" Label="Descrição do evento" Variant="Variant.Outlined"></MudTextField>
    </DialogContent>

    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">OK</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public DateOnly Data { get; set; }

    [Parameter]
    public TimeOnly Time { get; set; }

    private string Descricao { get; set; }

    private void Submit() => MudDialog.Close(DialogResult.Ok(Descricao));

    private void Cancel() => MudDialog.Cancel();
}